node_modules
dist
__pycache__
*.pyc
.env
.git
.gitignore
Dockerfile
Frontend.Dockerfile
Backend.Dockerfile
docker-compose.yml
templates
uploads
*.docx

# macOS stuff
.DS_Store

# Windows junk
Thumbs.db
